<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Order Confirmation</h1>
    <h3>Your Order #<%= @order.id %></h3>
    <p>
      <br>
    </p>
    <p>
      Hey <%= @user.first_name %>,

      Thanks for ordering with us!
    </p>
  </body>
</html>