// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 70px;
}

// Bootstrap adjustments
form.button_to {
  display: inline;
}

#registration-form {
  h1{
    font-size: 3em;
  }
  div{
    form{
      .form-group{
        input {
          width: 100%;
        }
      }
    }
  }
}